:root {
  --color-black: #252525;
  --color-blue-dark: #1c2429;
  --color-blue-deep: #263238;
  --color-blue: #3471eb;
  --color-blue-light: #467bf4;
  --color-blue-sky: #2e3c82;
  --color-green-light: #58d283;
  --color-green: #50a628;
  --color-grey-light: #858585;
  --color-grey: #383838;
  --color-orange: #f38422;
  --color-purple-light: #494e8e;
  --color-purple: #2d2f3b;
  --color-red: #db3837;
  --color-white-dark: #f5f5f5;
  --color-white-grey: #d2d2d2;
  --color-white: #fff;
}
