<mat-card>
  <mat-card-header>
    <mat-card-title>Новое преимущество</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form" fxLayout fxLayoutGap="20px">
      <mat-form-field>
        <input matInput placeholder="Название" formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Тип" formControlName="type">
          <mat-option *ngFor="let type of advantageTypes" [value]="type">
            {{advantageTypesEnum[type]}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex="100%">
        <input matInput placeholder="Аргументация" formControlName="description">
        <mat-hint>в одно предложение</mat-hint>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions fxLayout fxLayoutGap="10px">
    <button mat-button [disabled]="form.invalid" (click)="add()" color="primary">Добавить</button>
    <button mat-button (click)="resetForm()">Очистить</button>
  </mat-card-actions>
</mat-card>

<table mat-table [dataSource]="advantages$ | async" matSort>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Название</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Тип</th>
    <td mat-cell *matCellDef="let element">{{advantageTypesEnum[element.type]}}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Аргументация</th>
    <td mat-cell *matCellDef="let element">
      <div fxLayout fxLayoutAlign="space-between center">
        {{element.description}}
        <button mat-button (click)="remove(element.id)">
          <span>удалить</span>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
