@import '~@angular/flex-layout/mq';

:host {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white-dark);
}

.quote {
  color: #d2d2d2;
  margin-right: 30px;
  height: 20px;
  width: 28px;
  flex-shrink: 0;
}

.profession-grid {
  display: grid;
  margin: 0 auto;

  @include layout-bp(gt-md) {
    grid-template-columns: repeat(6, 180px);
    grid-gap: 12px;
  }

  @include layout-bp(lt-lg) {
    grid-template-columns: repeat(2, 135px);
    grid-gap: 9px;
  }
}
