@import '~@angular/flex-layout/mq';

.airlines {
  background-color: var(--color-blue-sky);

  @include layout-bp(gt-md) {
    height: 500px;
  }

  .container {
    @include layout-bp(gt-md) {
      margin-top: 72px;
      height: 428px;
    }

    @include layout-bp(lt-lg) {
      margin: 35px 20px 0;
    }
  }

  h1 {
    color: white;
  }

  .annotation {
    color: white;
    font-family: var(--rounded-light);
    margin-top: 5px;

    @include layout-bp(gt-md) {
      font-size: 18px;
      line-height: 22px;
    }

    @include layout-bp(lt-lg) {
      font-size: 13.5px;
      line-height: 16.5px;
      text-align: center;
      margin-top: 10px;
    }
  }

  .left-block {
    display: flex;

    @include layout-bp(gt-md) {
      width: 950px;
    }
  }

  .right-block {
    display: flex;

    @include layout-bp(gt-md) {
      margin-left: auto;
    }

    @include layout-bp(lt-lg) {
      margin: 10px 0;
      justify-content: center;
    }
  }

  .big-logo {
    display: flex;
    background-image: url('/assets/svg/Logo_big.svg');
    background-size: cover;

    @include layout-bp(gt-md) {
      height: 207px;
      width: 254px;
      margin-top: auto;
    }

    @include layout-bp(lt-lg) {
      height: 178px;
      width: 218px;
    }
  }

  .quote {
    display: flex;

    @include layout-bp(gt-md) {
      margin-top: 40px;
    }

    @include layout-bp(lt-lg) {
      margin-top: 30px;
    }

    .icon {
      height: 20px;
      width: 28px;
      flex-shrink: 0;
      fill: var(--color-white);
      line-height: 29px;
      margin-right: 30px;
      margin-top: 6px;
    }

    .text {
      font-family: var(--rounded-medium);
      color: var(--color-white);

      @include layout-bp(gt-md) {
        line-height: 29px;
        font-size: 18px;
      }

      @include layout-bp(lt-lg) {
        line-height: 22px;
        font-size: 13.5px;
      }
    }
  }
}

.partners-grid {
  display: grid;

  @include layout-bp(lt-lg) {
    grid-template-columns: repeat(5, 150px);
    grid-gap: 30px;
  }

  @include layout-bp(lt-md) {
    grid-template-columns: repeat(3, 150px);
    grid-gap: 30px;
  }

  @include layout-bp(lt-sm) {
    grid-template-columns: repeat(2, 150px);
    grid-gap: 20px;
  }

  @include layout-bp(gt-md) {
    grid-template-columns: repeat(6, 180px);
    grid-gap: 40px;
  }
}

.partner-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: --var(--color-white);
  border-radius: 8px;
  overflow: hidden;
  background-size: cover;

  @include layout-bp(gt-md) {
    height: 180px;
    width: 180px;
  }

  @include layout-bp(lt-lg) {
    height: 150px;
    width: 150px;
  }
}
