@import '~@angular/flex-layout/mq';

:host {
  display: flex;
  flex-direction: column;
  font-family: var(--rounded-medium);
  color: var(--color-grey-light);

  @include layout-bp(gt-md) {
    font-size: 16px;
  }

  @include layout-bp(lt-lg) {
    font-size: 13.5px;
  }
}

.info {
  padding-bottom: 25px;
  border-bottom: 1px solid var(--color-grey-light);
}

.field-name {
  @include layout-bp(gt-md) {
    width: 220px;
  }

  @include layout-bp(lt-lg) {
    width: 170px;
  }
}

.field-value {
  color: var(--color-black);
}

.description {
  font-family: var(--rounded);

  @include layout-bp(gt-md) {
    font-size: 18px;
    margin-top: 20px;
  }

  @include layout-bp(lt-lg) {
    margin-top: 15px;
    line-height: 22.5px;
    font-size: 13.5px;
  }
}

.reduced > p:last-child::after {
  content: '...';
}

.expand:hover {
  text-decoration: underline;
  color: var(--color-blue-light);
  cursor: pointer;
}

strong {
  font-weight: 600;
  color: var(--color-black);
}
