@import '~@angular/flex-layout/mq';

:host {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white-dark);
}

.bigImage {
  display: flex;
  background-color: green;
  width: 850px;
  height: 600px;
}

.smallImage {
  display: flex;
  width: 420px;
  height: 296px;
  background-color: aqua;
}

.vacations-image {
  display: flex;
  margin: 0 auto;
  background-repeat: no-repeat;

  @include layout-bp(lt-lg) {
    background-image: url('/assets/images/vacations-images-mobile.jpg');
    width: 640px;
    height: 4168px;
  }

  @include layout-bp(gt-md) {
    background-image: url('/assets/images/vacations-images-desktop.jpg');
    width: 1281px;
    height: 1224px;
  }
}

.quote {
  color: #d2d2d2;
  margin-right: 30px;
  height: 20px;
  width: 28px;
  flex-shrink: 0;
}
